@model CreateGroupMemberViewModel

<div id="groupMembershipModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a new group member</h4>
            </div>
            <div class="modal-body">
                <form asp-controller="Group" asp-action="CreateGroupMember" method="post">
                    <input asp-for="GroupId" type="hidden" />
                    <div class="form-group">
                        <label asp-for="SelectedGroups"></label>
                        <select asp-for="SelectedGroups" asp-items="@Model.GroupListItem" class="form-control" multiple>
                            <option selected disabled>Select a group</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
