@{
    ViewData["Title"] = "Home Page";
}

@if(!User.Identity.IsAuthenticated)
{
    <h1>You aren't authenticated !</h1>
}
else
{
    <h2>User Claims:</h2>
    <ul>
        @foreach(var claim in User.Identities.First().Claims)
        {
            <li>@claim.Type: @claim.Value</li>
        }
    </ul>
}
